.lanyard-wrapper {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .lanyard-wrapper {
        height: 400px;
    }
}